<div class="my-3">
    <h2>Take ,TakeLast and TakeLastUntil Operator</h2>
    <br>
</div>
<div class="row">
    <div class="col-sm-4">
        <strong>Ex 01 - Take</strong>
        <hr>
        <ul id="elContainer"></ul>
    </div>
    <div class="col-sm-4">
        <strong>Ex 02 - TakeLast </strong>
        <hr>
        <ul id="elContainer1"></ul>
    </div>
    <div class="col-sm-4">
        <strong>Ex 03 - TakeLastUntil</strong>
        <hr>
        <ul id="elContainer3"></ul>
    </div>
</div>