<div class="card-section">    
    <div class="card text-center custom-hover mb-3 mx-3 my-3"  style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">async await</h5>
        <p class="card-text">async always convert function into promise</p>
        <button routerLink="/async" class="btn btn-primary">Go Async await</button>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body" >
        <h5 class="card-title">From Event</h5>
        <p class="card-text"></p>
        <button routerLink="/observable/fromEvent" class="btn btn-primary">from Event </button>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Interval & timer</h5>
        <p class="card-text">Interval is a function that emits a sequence of numbers in a specified interval of time.</p>
        <button routerLink="/observable/interval" class="btn btn-primary">Interval and Timer</button>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Switch Map</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">of From</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/observable/of-from" class="btn btn-primary">of from</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">toArray</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Subject</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;" >
      <div class="card-body">
        <h5 class="card-title">From Operator</h5>
        <p class="card-text">it converts objects and data types into Observables</p>
        <!-- <a href="#" class="btn btn-primary">From</a> -->
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">debounceTime</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go </a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Map Operator</h5>
        c<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/map" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="map" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center custom-hover mb-3 mx-3 my-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zip & ForkJoin</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
   
  </div>
