<div class="my-3">
    <h2>Custom Observable</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <strong>Ex-01 (Manual)</strong>
        <hr>
        <ul class="list-group error">
            <li>Angular</li>
            <li>React</li>
            <li>Vue</li>
            <li>Node</li>
        </ul>
    </div>
    <div class="col-md-6">
        <strong>Ex -02 (Custom Observable)</strong>
        <hr>
        <ul class="list-group complete">
            <li>Angular</li>
            <li>React</li>
            <li>Vue</li>
            <li>Node</li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <strong>Ex-03 (Random Name)</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Random Name:</strong>
                'Anup' ,'Shekhar','Sharma','Raj','Kumar'
            </p>
            <hr>
            <p>Current Name: <strong></strong></p>
        </div>
    </div>
</div>
