
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add video</div>
            <div class="card-body">
                <div #addBtn class="btn btn-primary">Add</div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <ul id ='elContainer1'>

                </ul>
                <!-- <div class="btn btn-primary"> Add</div> -->

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <ul id ='elContainer2'>

                </ul>
                <!-- <div class="btn btn-primary"> Add</div> -->

            </div>
        </div>
    </div>
</div>